.container {
  width: 200px;
  height: 200px;

  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  background-color: rgb(42, 95, 165);
}

.circle {
  width: 100px;
  height: 100px;

  border: solid 2px black;
  background-color: rgb(25, 216, 57);
  border-radius: 100%;
}

.container1 {
  border: solid 2px black;
  width: 200px;
  height: 200px;

  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: aqua;
}

.box1 {
  border: solid 2px black;
  width: 70px;
  height: 70px;
  background-color: chocolate;
}

.container2 {
  border: solid 2px black;
  background-color: aqua;
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  row-gap: 20px;
  column-gap: 10px;
}

.box2 {
  border: solid 2px black;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: blueviolet;
}
