h1
{
    color: red;
    border: solid;
    border-left-width: 20px;
    width: 200px;
}
h3
{
    color: blue;
}
#abc
{
    border: solid;
}
body
{
    border: solid;
    width: 250px;
    text-align: center;
}
*
{
    color: aqua;
}
