* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  color: rgb(16, 3, 65);
  text-decoration: solid;
}

p {
  margin: 20px 0;
}

nav{
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

button{
  border: solid 1px black;
  width: 150px;
  padding: 2vh 0;
  font-weight: bolder;
  font-size: larger;
}

#red{
  background-color: red;
  color: black;
}
#black{
  background: white;
  color: black;
}
#blue{
  background-color: blue;
  color: black;
}
#aura{
  background-color: chartreuse;
  color: black;
}

#black:hover,#red:hover,#blue:hover,#aura:hover{
  background-color: black;
  color: aliceblue;
}

#black:active,#red:active,#blue:active,#aura:active{
  transform: scale(.9);
}


.inp{
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 30%;
  margin: 20px 0;
  text-align: center;
}
